.largeIm {
    width:30%;
}

.largeTxt {
    width:65%;
    float:left;
}

.header-2 {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #E7E7E7;
    z-index: 9999;
    padding: .5em 0;
    border-top: .3em solid #0d658c;
    border-bottom: .063em solid #d8d6d6;
}


.imLogo img{
    margin-bottom:10px
}

.bannerTxt {
    position: relative;
}

.copyrightOverlay {
 position:absolute;
 bottom:95px;
 right:-18%;
 width:300px;
 height:200px;
 z-index:2;
 -ms-transform:rotate(270deg); /* IE 9 */
 -moz-transform:rotate(270deg); /* Firefox */
 -webkit-transform:rotate(270deg); /* Safari and Chrome */
 -o-transform:rotate(270deg); /* Opera */
}

.anchor {
display: block;
height: 55px;
margin-top: -55px;
visibility: hidden;
}

